In [2]:
import pandas as pd

In [4]:
df=pd.read_table('dist.txt',delim_whitespace=True,names=('roll','name','age'))
print(df)

   roll  name    age
0     1     1   2.92
1     1     2  70.75
2     1     3  60.90
3     2     1  71.34
4     2     2   5.23
5     2     3  38.56
6     3     1  61.24
7     3     2  38.68
8     3     3   4.49

In [5]:
d=pd.read_csv("student_data.csv")
print(d)

   roll names  age  phys  chem
0     1   raj   21    88    89
1     2  avik   22    87    90

In [6]:
data=pd.read_csv('dist.txt',delimiter='\s+',header=None,index_col=False)
data.columns=["a","b","c"]
print(data)

   a  b      c
0  1  1   2.92
1  1  2  70.75
2  1  3  60.90
3  2  1  71.34
4  2  2   5.23
5  2  3  38.56
6  3  1  61.24
7  3  2  38.68
8  3  3   4.49

In [7]:
pp=pd.read_csv("Income_data.csv")

In [12]:
print(pp)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  47215  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [14]:
df1=pp.set_index("State")
print(df1)

                GEOID   2005   2006   2007   2008   2009   2010   2011   2012  \
State
Alabama     04000US01  37150  37952  42212  44476  39980  40933  42590  43464
Alaska      04000US02  55891  56418  62993  63989  61604  57848  57431  63648
Arizona     04000US04  45245  46657  47215  46914  45739  46896  48621  47044
Arkansas    04000US05  36658  37057  40795  39586  36538  38587  41302  39018
California  04000US06  51755  55319  55734  57014  56134  54283  53367  57020

             2013
State
Alabama     41381
Alaska      61137
Arizona     50602
Arkansas    39919
California  57528

In [15]:
df2=df1.loc["Alabama":"Arizona","2005":"2009"]
print(df2)

          2005   2006   2007   2008   2009
State
Alabama  37150  37952  42212  44476  39980
Alaska   55891  56418  62993  63989  61604
Arizona  45245  46657  47215  46914  45739