In [1]:
import pandas as pd

In [2]:
students={
    "names":["Baban","Raj","Bibhakar"],
    "physic":[88,99,87],
    "chem":[78,95,89]
}

In [4]:
s1=pd.Series(students)
print(s1)

names     [Baban, Raj, Bibhakar]
physic              [88, 99, 87]
chem                [78, 95, 89]
dtype: object

In [5]:
print("################################")
d1=pd.DataFrame(students)
print(d1)

################################
      names  physic  chem
0     Baban      88    78
1       Raj      99    95
2  Bibhakar      87    89

In [6]:
d2=d1.set_index("names")
print(d2)

          physic  chem
names
Baban         88    78
Raj           99    95
Bibhakar      87    89

In [7]:
print("################################")
d3=d2.sum(axis=1)
print(d3)

################################
names
Baban       166
Raj         194
Bibhakar    176
dtype: int64